.maxOn {
    font-size: 30px;
    color: red
}

.maxOff {
    font-size: 30px;
    color: black
}

.counter {
    border: 2px solid #61dafb;
    border-radius: 5px;
    max-width: 300px;
    min-width: 200px;
    margin: 20px auto;
    background-color: #282c34;
}

.firstCounter {
    border: 2px solid #61dafb;
    border-radius: 5px;
    max-width: 400px;
    min-width: 200px;
    margin: 20px auto;
    background-color: #282c34;
}

.display {
    border: 2px solid #61dafb;
    border-radius: 5px;
    max-width: 290px;
    min-width: 100px;
    margin: 5px auto;
    background-color: #282c34;
}

.buttonTable {
    display: flex;
    justify-content: space-between;
    max-width: 290px;
    min-width: 100px;
    margin: 5px auto;
    border: 2px solid #61dafb;
    border-radius: 5px;
}

.inputTable {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 400px;
    min-width: 100px;
    margin: 10px auto;
    border: 2px solid #61dafb;
    border-radius: 5px;
}

.input {
    color: white;
    max-width: 400px;
    min-width: 100px;
    margin: 10px auto;
    border: 2px solid #61dafb;
    border-radius: 5px;
}

.inputButton {
    margin: 10px auto;
    border: 2px solid #61dafb;
    border-radius: 5px;
}

.errorMessage {
    color: red;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}

.normalMessage {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}

.btn, a.btn {
    width: 100px;
    height: 80px;
    background-color: #1aff00;
    display: inline-block;
    border-radius: 20px;
    font-size: 30px;
    color: darkslategray;
    text-align: center;
}

.disabled {
    color: grey;
    background-color: #9a2626;

}

.red {
    background-color: #da0505;
}